@font-face {
    font-family: zabars;
    src: url('./fonts/zabars.ttf');
}

body {
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-image: url('./img/desert1.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
}

h1 {
    font-size: 60px;
    letter-spacing: 3px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-top: 0px;
}

canvas {
    background: url('./img/5_background/layers/air.png');
    background-size: cover;
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
}

#info {
    background-color: rgba(255, 204, 1, 0.8);
    padding: 12px;
    letter-spacing: 1px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    color: white;
    text-outline: 3px 3px #ccc;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.container:fullscreen {
    background-image: url('./img/desert1.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.start-button {
    margin-top: 10px;
    z-index: 1;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-outline: 3px 3px #ccc;
    background-color: rgba(255, 204, 1, 0.8);
    padding: 12px;
    border-radius: 12px;
}

.start-button:hover {
    cursor: pointer;
    color: rgba(255, 204, 1, 1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.8);
}

.end-button {
    margin-top: 10px;
    z-index: 1;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-outline: 3px 3px #ccc;
    background-color: rgba(255, 204, 1, 0.8);
    padding: 12px;
    border-radius: 12px;
}

.end-button:hover {
    cursor: pointer;
    color: rgba(255, 204, 1, 1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.8);
}

.pause-button {
    margin-top: 10px;
    z-index: 1;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-outline: 3px 3px #ccc;
    background-color: rgba(255, 204, 1, 0.8);
    padding: 12px;
    border-radius: 12px;
}

.pause-button img {
    height: 20px;
}

.pause-button:hover {
    cursor: pointer;
    color: rgba(255, 204, 1, 1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.8);
}

.fullscreen-button {
    z-index: 1;
    background-color: rgba(255, 204, 1, 0.8);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
}

.fullscreen-button img {
    height: 24px;
    width: 24px;
}

.fullscreen-button img:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    transform: scale(1.2);
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 720px;
    height: 80px;
}

.d-none {
    display: none !important;
}

#responsive-keyboard {
    display: none;
}

.arrow-left {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border-radius: 8px;
    background-color: aquamarine;
    transform: scaleX(-1);
}

.arrow-right {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: aquamarine;
    border-radius: 8px;

}

.space {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    background-color: aquamarine;
    border-radius: 8px;

}

.d-button {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    background-color: aquamarine;
    border-radius: 8px;
}

.color-yellow {
    background-color: rgba(255, 204, 1, 1) !important;
}

.full {
    width: 85%;
    height: 85%;
}

.impressum {
    background-color: rgba(255, 204, 1, 0.5);
    padding: 24px;
    border-radius: 16px;
}

.impressum p {
    font-size: 24px;
    letter-spacing: 1px;
}

#dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 24px;
    padding-right: 24px;
}

#dialog h3 {
    font-size: 60px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    text-align: center;
}

@media only screen and (max-width: 760px) {

    canvas {
        width: 100%;
    }

    #mute-button-mute {
        position: fixed;
        bottom: 5px;
        left: 10px;

    }

    #mute-button-unmute {
        position: fixed;
        bottom: 5px;
        left: 10px;

    }

    .buttons-container {
        width: 100%;
    }

    #responsive-keyboard {
        position: fixed;
        bottom: 0;
        z-index: 10;
        height: 24px;
        padding-bottom: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #responsive-keyboard img {
        height: 30px;
    }

    #fullscreen-button {
        display: none;
    }

    #fullscreen-button-exit {
        display: none;
    }

    #info {
        display: none;
    }

    h1 {
        display: none;
    }

    footer{
        width: 100vw;
        display: flex;
        align-items: end;
        justify-content: end;
        text-align: end;
        padding-right: 8px;
    }

    .pause-button {
        position: fixed;
        bottom: 5px;
        left: 60px;
    }

}

@media only screen and (max-height: 480px) {
    canvas {
        position: fixed;
        top: 0;
        height: 100vh;
    }

    #responsive-keyboard {
        position: fixed;
        bottom: 0;
        z-index: 10;
        height: 24px;
        padding-bottom: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #fullscreen-button {
        display: none;
    }

    h1 {
        display: none;
    }

    #fullscreen-button-exit {
        display: none;
    }

    #mute-button-mute {
        position: fixed;
        bottom: 5px;
        left: 10px;

    }

    #mute-button-unmute {
        position: fixed;
        bottom: 5px;
        left: 10px;
    }

    .start-button {
        position: fixed;
        bottom: 5px;
        right: 10px;
    }

    .end-button {
        position: fixed;
        bottom: 5px;
        right: 10px;
    }

    footer{
        width: 100vw;
        display: flex;
        align-items: end;
        justify-content: start;
        text-align: end;
        padding-left: 250px;
        padding-bottom: 2vh;
    }

    .pause-button {
        position: fixed;
        bottom: 5px;
        left: 60px;
    }

}

@media(max-width: 360px) {
    #responsive-keyboard {
        gap: 12px;
    }
}

@media(max-height: 1024px){
    h1 {
        display: none;
    }
}

footer {
    position: fixed;
    bottom: 8px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}

footer a:hover {
    color: rgba(255, 204, 1, 1);
    cursor: pointer;
}

.home a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    letter-spacing: 2px;
}

.home a:hover {
    color: rgba(255, 204, 1, 1);
    cursor: pointer;
}

.full-buttons{
    position: fixed;
    bottom: 0;
}

